body
{
	font-size: 14px;
	line-height: 24px;
	font-family: "PT Sans Narrow", Sans-serif;

	color: #fff;

	background: #111 url("../img/body-bg.jpg") no-repeat center top;

<<<<<<< HEAD
}


.Inner-page
{
	font-size: 14px;
	line-height: 24px;
	font-family: "PT Sans Narrow", Sans-serif;

	color: black;

	background: white;

}

.main-footer{
	background: grey; /* цвет футеру что-бы было понятно */
}
=======
}
>>>>>>> 2bbe48a5fbcc62740f9b22d20fa1b17abc2446ec
